

/* All */

* {
    /* border: 1px solid red; */
    padding: 0px;
    font-family: sans-serif;
}

body {
    /* width: 700px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}



/* Header */



header {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #1F2937;

}

.header_box {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 700px;
}

.left-menu {
    /* display: flex; */
    padding: 0px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-menu {
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;
    
}


/* About */

ul {
    list-style-type: none;
    gap: 16px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #1F2937;
    color: #F9FAF8;
}   

.about_column_1 {
    flex: 1;
}

.about_column_2 {
    flex: 1;
    text-align: center;
}



/* Information */




.information {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 12px;
}

.info {
    width: 120px;
    text-align: center;
}

.info_text {
    width: 100;
}

.action {
    display: flex;
}