

/* All */

* {
    /* border: 1px solid red; */
    /* padding: 1px; */
    font-family: sans-serif;
}

body {
    /* width: 700px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}



/* Header */



header {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #1F2937;

}

.header_box {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 900px;
}

.left-menu {
    /* display: flex; */
    padding: 0px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-menu {
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;
    
}


/* About */

ul {
    list-style-type: none;
    gap: 16px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #1F2937;
    color: #F9FAF8;
}   

.about_box {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 900px;
    gap: 100px;
    margin: 50px;
}

.about_column_1 {
    flex: 1;
}

.about_header {
    font-size: 48px;
    font-weight: 900;
}

.about_text {
    font-size: 12px;
}

.sign_up_button {
    background-color: #3882F6;
    padding: 8px 24px;
    /* border: none; */
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
}


.about_column_2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    width: 200px;
}



/* Information */

.info{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}   

.info_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 900px;
}

.info_heading{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 25px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
}

.info_subtext {
    width: 120px;
    justify-items: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: #3882F6 solid 2px;
}

.info_text {
    width: 100;
    text-align: center;
}

.action {
    display: flex;
}

/* Quote */

.quote {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #E5E7EB;

}

.quote_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    width: 900px;
    margin: 50px;
}

.quote_text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote_name{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}





/* Footer */

.footer{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #1F2937;
}