* {
    border: 1px solid red;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.left-menu {
    display: flex;
    padding: 4px;
}

.right-menu {
    display: flex;
    padding: 4px;
    
}

ul {
    list-style-type: none;
    gap: 16px;
}

body {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}   

.about_column_1 {
    flex: 1;
}

.about_column_2 {
    flex: 1;
    text-align: center;
}

.information {
    display: flex;
    justify-content: space-around;
}

.info_text {
    width: 100;
}